<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

	<!-- load MUI -->
	 <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.muicss.com/mui-0.9.6/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.6/js/mui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/main.css" />
  <title>Dataphi</title>
</head>
<body>
	<div id="sidebar">
	  <div class="mui--text-light mui--text-display1 mui--align-vertical">
	  	<a href="/"><i class="fa fa-plus"></i> Add Patient</a>
	  </div>
	  <div class="mui--text-light mui--text-display1 mui--align-vertical">
	  	<a href="/list"><i class="fa fa-users"></i>Patients' Roster</a>
	  </div>
	</div>
	<div id="content" class="mui-container-fluid">
	  <div class="mui-row">
		  <div class="mui-col-sm-10 mui-col-sm-offset-1">
		    <div class="mui--text-dark-secondary mui--text-body2"></div>
			    <form action="/search" method="POST" class="search-form mui-form--inline">
			    	<div class="mui-textfield">
			    		<input type="text" class="form-inline" name="patient_search" >
			    		
			    	</div>
				  	<button type="submit" class="mui-btn mui-btn--raised mui-btn--primary" >Search</button>
			  	</form>
		    
		    <div class="mui--text-dark-secondary mui--text-body2"><h1>Patients</h1></div>
		    <div class="mui-divider"></div>
		    	
		    
	    	<% for(var i=0; i<patients.length; i++) {%>
		    	<div class="patient-listing mui-panel">
		    		<div class="mui--text-headline"><%= patients[i].first_name + " " + patients[i].last_name %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].gender %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].bday %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].usrtel %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].comments %></div>
		    	</div>
		    <% } %>
		  </div>
		</div>
	</div>

</body>
</html>