<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

	<!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.6/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.6/js/mui.min.js"></script>

    <style type="text/css">
    	/**
		 * Body CSS
		 */
		a {
			color: black;
		}

		html,
		body {
		  height: 100%;
		}

		html,
		body,
		input,
		textarea,
		buttons {
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
		  background-color: #FFEBEE;
		}


		/**
		 * Sidebar CSS
		 */
		#sidebar {
		  background-color: #E57373;
		  padding: 15px;
		}

		@media (min-width: 768px) {
		  #sidebar {
		    position: fixed;
		    top: 0;
		    bottom: 0;
		    width: 180px;
		    height: 100%;
		    padding-top: 30px;
		  }
		}

		/**
		 * Content CSS
		 */
		@media (min-width: 768px) {
		  #content {
		    margin-left: 180px;
		  }

		  a:visited { text-decoration: none; }
		  a:hover { text-decoration: none; }
		  a:focus { text-decoration: none;}
		  a:hover, a:active { text-decoration: none;}
		}
    </style>
  
  <title>Dataphi</title>
</head>
<body>
	<div id="sidebar">
	  <div class="mui--text-light mui--text-display1 mui--align-vertical">
	  	<a href="/">Add Patient</a>
	  	<br>
	  	<br>
	  </div>
	  <div class="mui--text-light mui--text-display1 mui--align-vertical">
	  	<a href="/list">Patients' Roster</a>
	  </div>
	</div>
	<div id="content" class="mui-container-fluid">
	  <div class="mui-row">
		  <div class="mui-col-sm-10 mui-col-sm-offset-1">
		    <br>
		    <br>
		    <div class="mui--text-dark-secondary mui--text-body2"></div>
		    <br>
			    <form action="/search" method="POST">
			    	<div class="mui-textfield">
			    		<label for="patient_search"><strong>Search Patients:</strong></label>
			    		<input type="search" class="form-inline" name="patient_search">
			    	</div>
				  	<button type="submit" class="mui-btn mui-btn--raised" >Search</button>
			  	</form>
		    
		    <div class="mui--text-dark-secondary mui--text-body2"><h2>Patients</h2></div>
		    <div class="mui-divider"></div>
		    	
		    <br>
		    	<% for(var i=0; i<patients.length; i++) {%>
		    		<div class="mui--text-headline"><%= patients[i].first_name + " " + patients[i].last_name %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].gender %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].bday %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].usrtel %></div>
		    		<div class="mui--text-dark-secondary"><%= patients[i].comments %></div>
		    		<br>
		    		<br>
		    	<% } %>
		  </div>
		</div>
	</div>

</body>
</html>